<!DOCTYPE html>

<html>

<head>
    <title>Test Website</title>
    <link rel="stylesheet" type='text/css' href='../static/css/main.css'>
</head>

<body>
    <nav>
        <div class="hamburger-icon" tabindex="1">
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
        </div>
    </nav>
    <div class="nav-items">
        <ul class="nav-list">
            <li class="nav-item">Home</li>
            <li class="nav-item">Reviews</li>
            <li class="nav-item">Contact Me</li>
        </ul>
    </div>
    <script src='../static/js/main.js'></script>
</body>

</html>